@font-face {
  font-family: 'FF_DIN_Regular';
  src: url("fonts/FF_DIN_Regular.eot");
  src: url("fonts/FF_DIN_Regular.otf") format("truetype"), url("fonts/FF_DIN_Regular.woff") format("woff"), url("fonts/FF_DIN_Regular.eot?#iefix") format("embedded-opentype"), url("fonts/FF_DIN_Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../scss/scss/style.scss */
h1, h2, h3, h4, p, div {
  font-family: 'FF_DIN_Regular',FF_DIN_Regular,sans-serif;
}

/* line 16, ../scss/scss/style.scss */
.min {
  padding: 5px;
  margin: 0px;
}

/* line 21, ../scss/scss/style.scss */
.container {
  width: 100%;
  height: auto;
  background-image: url("../img/bg.png");
}

/* line 27, ../scss/scss/style.scss */
.nav-top-social {
  height: 31px;
  background-color: #000;
}

/* line 32, ../scss/scss/style.scss */
.social {
  height: 31px;
}

/* line 37, ../scss/scss/style.scss */
.content-page {
  height: auto;
  background-color: #F2F2F2;
}

/* line 42, ../scss/scss/style.scss */
.title, .title:hover, .title:focus {
  font-size: 1.2em;
  float: left;
  margin-top: 30px;
  margin-left: -35px;
  color: #000;
  font-weight: bold;
}

/* line 51, ../scss/scss/style.scss */
.logo-univ {
  margin-top: 5px;
  margin-left: 20px;
}

/* line 56, ../scss/scss/style.scss */
.menu {
  background-color: #4098CE;
  height: 35px;
  margin-bottom: 20px;
}

/* line 63, ../scss/scss/style.scss */
.link-menu, .link-menu:focus {
  color: #FFF;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 0.9em;
  padding-top: 5px;
  display: inline-block;
  text-align: center;
  border-bottom: 2px solid #4098CE;
  height: 27px;
}

/* line 75, ../scss/scss/style.scss */
.link-menu:hover {
  border-bottom: 2px solid #10628B;
  color: #FFF;
  display: inline-block;
}

/* line 81, ../scss/scss/style.scss */
.actif {
  border-bottom: 2px solid #10628B;
}

/* line 87, ../scss/scss/style.scss */
.formation {
  height: 240px;
  margin-bottom: 20px;
}

/* line 93, ../scss/scss/style.scss */
.l3 {
  height: 175px;
  background-image: url("../img/licence3.png");
  background-size: cover;
  background-position: 50% 50%;
  padding: 10px;
  overflow: hidden;
}

/* line 102, ../scss/scss/style.scss */
.tais {
  height: 175px;
  background-image: url("../img/license_tais.png");
  background-size: cover;
  background-position: 50% 50%;
  padding: 10px;
  overflow: hidden;
}

/* line 111, ../scss/scss/style.scss */
.m1 {
  height: 175px;
  background-image: url("../img/master_un.png");
  background-size: cover;
  background-position: 50% 50%;
  padding: 10px;
  overflow: hidden;
}

/* line 120, ../scss/scss/style.scss */
.m2im {
  height: 175px;
  background-image: url("../img/master_deuxingenerie.png");
  background-size: cover;
  background-position: 50% 50%;
  padding: 10px;
  overflow: hidden;
}

/* line 129, ../scss/scss/style.scss */
.m2c {
  height: 175px;
  background-image: url("../img/master_deuxingeneriealternance.png");
  background-size: cover;
  background-position: 50% 50%;
  padding: 10px;
  overflow: hidden;
}

/* line 138, ../scss/scss/style.scss */
.m2pni {
  height: 175px;
  background-image: url("../img/masterdeux_immersion.png");
  background-size: cover;
  background-position: 50% 50%;
  padding: 10px;
  overflow: hidden;
}

/* line 147, ../scss/scss/style.scss */
.m2redac {
  height: 175px;
  background-image: url("../img/masterdeux_eredac.png");
  background-size: cover;
  background-position: 50% 50%;
  padding: 10px;
  overflow: hidden;
}

/* line 156, ../scss/scss/style.scss */
.m2t {
  height: 175px;
  background-image: url("../img/masterdeux_ligne.png");
  background-size: cover;
  background-position: 50% 50%;
  padding: 10px;
}

/* line 165, ../scss/scss/style.scss */
.opa {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 174, ../scss/scss/style.scss */
.formation-dec {
  background-color: #4098CE;
  height: 40px;
  padding-top: 5px;
}

/* line 180, ../scss/scss/style.scss */
.text-dec, .text-dec:hover, .text-dec:focus {
  color: #FFF;
}

/* line 184, ../scss/scss/style.scss */
.form-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* line 192, ../scss/scss/style.scss */
.title-form {
  color: #FFF;
  font-weight: bold;
  margin-top: 55px;
}

/* line 198, ../scss/scss/style.scss */
.content-form {
  color: #FFF;
  margin-top: -20px;
}

/* line 203, ../scss/scss/style.scss */
.footer {
  background-color: #394145;
  height: 800px;
}

/* line 208, ../scss/scss/style.scss */
.title-footer {
  color: #FFF;
  margin-bottom: 25px;
}

/* line 214, ../scss/scss/style.scss */
.content-footer {
  color: #FFF;
  margin-bottom: 15px;
}

/* line 219, ../scss/scss/style.scss */
.wh {
  color: #FFF;
}

/* line 223, ../scss/scss/style.scss */
#flashMessage {
  position: fixed;
  width: 800px;
  min-height: 40px;
  top: 0;
  left: 50%;
  margin-left: -400px;
  background-color: #4098CE;
  z-index: 99999;
  text-align: center;
  padding-top: 5px;
  color: #fff;
}

/* line 239, ../scss/scss/style.scss */
.in-content {
  min-height: 600px;
}

/* line 243, ../scss/scss/style.scss */
.none {
  display: none;
}
